@use 'theme' as *;

body {
    font-family: "Fira Code", monospace;
    margin: 0;
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $white-color;
}

p {
    color: $gray-color;
} 

h2 {
    font-size: 32px;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 4px;
    color: $white-color;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: $primary-color;
}

a {
    color: $white-color;
    text-decoration: none;
}